
@{
    ViewBag.Title = @Resources.Resource.Error;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div align="center">
    <hgroup class="title">
        <h1>@Resources.Resource.Error!</h1>
        <h2>@Resources.Resource.RequestError.</h2>
    </hgroup>

    <img src="~/Content/httpErrors/error.png" alt="Error" width="500" height="500">
</div>
