
@{
    ViewBag.Title = @Resources.Resource.NotFound;
}
<div align="center">
    <hgroup class="title" >
        <h1 class="error">@Resources.Resource.PageNotFound</h1>
    </hgroup>

    <img src="~/Content/httpErrors/pageNotFound.jpg" alt="Not found" width="600" height="400">
</div>
