
@{
    ViewBag.Title = "Not found";
}
<div align="center">
    <hgroup class="title" >
        <h1 class="error">Page is not found. Try again!</h1>
    </hgroup>

    <img src="~/Content/httpErrors/pageNotFound.jpg" alt="Not found" width="600" height="400">
</div>
