
@{
    ViewBag.Title = "Server Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2></h2>

<div align="center">
    <hgroup class="title">
        <h1 class="error">Server Error! Try come here later</h1>
    </hgroup>

    <img src="~/Content/httpErrors/serverError.jpg" alt="Server error" width="600" height="400">
</div>
