@if (User.Identity.IsAuthenticated)
{
    <div class="advertising">
        <a href ="https://training.by/" target="_blank"><img class="advertising-image" src="~/Content/Advertising/advertising.jpg" />
        <p>EPAM Training Portal</p>
        <p>Joing us!</p></a>
    </div>
    <div class="advertising">
        <a href="https://www.bsuir.by/" target="_blank"><img class="advertising-image" src="~/Content/Advertising/bsuir.jpg" />
        <p>Enter the BSUIR</p>
        </a>
    </div>
}