<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Resources.Resource.Error</title>
</head>
<body>
    <hgroup>
        <h1>@Resources.Resource.Error.</h1>
        <h2>@Resources.Resource.RequestError.</h2>
    </hgroup>
</body>
</html>
